{% extends "base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}


{% block content %}


<div class="row">
    <div class="{{CSSAmpladaMitja}}">
        <h1>Els meus espais</h1>
    </div>
</div>
<div class="row">
    <div class="{{CSSAmpladaMitja}}">
        <a class="btn btn-primary" href="{% url 'espais:espais__create__blank' %}">
            <i class="fa-solid fa-circle-plus"></i>
            Nou espai
        </a>    
    </div>
</div>
<div class="row">
    <div class="{{CSSAmpladaMitja}}">
        {% render_table table %}
    </div>
    
</div>

{% endblock %}