Django==4.2
django-allauth==0.54.0
pydantic==1.10.7

# Linters:
autopep8
pylint-django 
ruff # May be would be better to use pylint-django ? Let's see.

# Testing
pytest

### Pending:

# django-crispy-forms
# django-tables2
# scss compiler