Django==4.2
django-allauth==0.54.0
pydantic==1.10.7
django-tables2==2.6.0

# Linters:
autopep8
pylint-django 
ruff # May be would be better to use pylint-django ? Let's see.

# Testing
pytest
Faker
factory-boy

# scss
django-libsass

# django-crispy-forms
crispy-bootstrap5

# imatges
easy-thumbnails

# fitxers xml
openpyxl==3.0.5