Django==4.2
django-allauth==0.54.0
pydantic==1.10.7

# Linters:
autopep8
pylint-django 
ruff # May be would be better to use pylint-django ? Let's see.

# Testing
pytest

# scss
django-libsass

# django-crispy-forms
crispy-bootstrap5

# imatges
easy-thumbnails

### Pending:

# django-tables2
openpyxl==3.0.5
